@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:ital,wght@1,300&display=swap');


.navItem a {
  text-decoration: none;
  color: white;
}
/* .outerDiv {
  display: flex;
  width: 100vw;
  min-width: 10vw;
} */
.navigation {
  width: 10%;
  min-width: 100px;
  height: 100vh;
  position: fixed;
  background-color: black;
  color: white;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  font-family: 'Kanit', sans-serif;
}